.headers {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(236, 192, 134);
    background-color: rgb(141, 42, 42);
    text-align: center;
    border: 8px red;
    margin: 16px center;
    padding: 6px;
    border: double 4px goldenrod;
}

.recipe {
    background-color: rgb(214, 185, 54);
    color: lavender;
    border: dashed purple 3px;
    margin-top: 10px;
}

.description {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(75, 45, 11);
    background-color:rgb(212, 184, 184);
    border: solid 3px gray;
    padding: 4px;

}

.lists {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(235, 222, 148);
    background-color: rgb(245, 222, 179);
    font-size: 25px;
    margin: 10px 550px;
    border: dotted blue;
    padding-right: 40px;
}

.lists li { 
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    background-color: rgb(224, 131, 115);
}

.index {
    color:rgb(212, 184, 184);
    background-color: rgb(184, 66, 66);
    font-family: 'Courier New', Courier, monospace;
    padding: 8px;
    border: 3px solid rgb(153, 100, 189);
    margin-bottom: 12px;
}